*.o
moc_*.cpp
ui_*.h
.qmake.stash
debug/water.exe
Makefile
Makefile.Debug
Makefile.Release
object_script.water.Debug
object_script.water.Release
water.exe
water.pro.user.985f712
water.pro.user.a4522d0
debug/moc_mainwindow.cpp

cacurveframe.ui
debug/moc_predefs.h
quframe.ui
sampleframe.ui
systemframe.ui
water.pro.user
water.pro.user.27ed007
weihuframe.ui
cacurveframe.ui
quframe.ui
sampleframe.ui
systemframe.ui
water.pro.user
weihuframe.ui
cacurveframe.ui
quframe.ui
sampleframe.ui
systemframe.ui
water.pro.user
weihuframe.ui
debug/qrc_my.cpp
water.pro.user
water.pro.user
